# Python Lists

In [1]:
lis = ["apple","banana","cat","dog","elephant","frog","gasoline","hike","ice-cream"]
print(lis)

['apple', 'banana', 'cat', 'dog', 'elephant', 'frog', 'gasoline', 'hike', 'ice-cream']

In [2]:
print(len(lis))

9

In [3]:
print(type(lis))

<class 'list'>

# How to make a tuple to List

In [6]:
tu = ("apple","banana","cat")
print(type(tu))
li = list(tu) # This is it
print(li,type(li))
x = 3.15
print(int(x))

<class 'tuple'>
['apple', 'banana', 'cat'] <class 'list'>
3

# Accessing Elements from List

In [10]:
lis = ["apple","banana","cat","dog","elephant","frog","gasoline","hike","ice-cream"]
# Access 0th index Element
print(lis[0])
# Access 1st index Element
print(lis[1])
# prinjt the whole list
for i in range(len(lis)):
    print(lis[i])

apple
banana
apple
banana
cat
dog
elephant
frog
gasoline
hike
ice-cream

In [11]:
# Access Elements through negative indexing
print(lis[-1])
print(lis[-2])

ice-cream
hike

# Slicing in List

In [13]:
lis = ["apple","banana","cat","dog","elephant","frog","gasoline","hike","ice-cream"]
print(lis[0:2])

['apple', 'banana']

In [17]:
print(lis[-3:-1])

['gasoline', 'hike']

In [18]:
print(lis[-5:])

['elephant', 'frog', 'gasoline', 'hike', 'ice-cream']

In [19]:
print(lis[::-1])

['ice-cream', 'hike', 'gasoline', 'frog', 'elephant', 'dog', 'cat', 'banana', 'apple']

In [20]:
print(lis[1:4:2])

['banana', 'dog']

In [21]:
print(lis[::1])

['apple', 'banana', 'cat', 'dog', 'elephant', 'frog', 'gasoline', 'hike', 'ice-cream']

In [22]:
print(lis[::-2])

['ice-cream', 'gasoline', 'elephant', 'cat', 'apple']

# Check if an Element Exist in List

In [27]:
lis = ["apple","banana","cat","dog","elephant","frog","gasoline","hike","ice-cream"]
k = "hike"

In [28]:
# Using for loop
for element in lis:
    if element==k:
        print(k,"Exists in this list")
        break

hike Exists in this list

In [29]:
# Using in keyword
if k in lis:
    print(k,"Exists")

hike Exists

# Change Elements in a list

In [30]:
lis = ["apple","banana","cat","dog","elephant","frog","gasoline","hike","ice-cream"]
print("Original List: ",lis)
lis[1] = "ball"
lis[-1] = "ink"
print("Updated List: ",lis)

Original List:  ['apple', 'banana', 'cat', 'dog', 'elephant', 'frog', 'gasoline', 'hike', 'ice-cream']
Updated List:  ['apple', 'ball', 'cat', 'dog', 'elephant', 'frog', 'gasoline', 'hike', 'ink']

In [33]:
print("Original List: ",lis)
lis[1:3] = ["basket","car"]
print("Updated List: ",lis)
lis[1:3] = ["dog","dog"]
print(lis)

Original List:  ['apple', 'dog', 'dog', 'elephant', 'frog', 'gasoline', 'hike', 'ink']
Updated List:  ['apple', 'basket', 'car', 'elephant', 'frog', 'gasoline', 'hike', 'ink']
['apple', 'dog', 'dog', 'elephant', 'frog', 'gasoline', 'hike', 'ink']

# Add Elements in a List

In [38]:
lis = ["apple","banana","cat","dog","elephant","frog","gasoline","hike","ice-cream"]
lis.append("june")
print(lis)

['apple', 'banana', 'cat', 'dog', 'elephant', 'frog', 'gasoline', 'hike', 'ice-cream', 'june']

In [39]:
lis.insert(1,"ball")
print(lis)

['apple', 'ball', 'banana', 'cat', 'dog', 'elephant', 'frog', 'gasoline', 'hike', 'ice-cream', 'june']

In [40]:
li = ["hi","hello"]
lis = lis + li
print(lis)

['apple', 'ball', 'banana', 'cat', 'dog', 'elephant', 'frog', 'gasoline', 'hike', 'ice-cream', 'june', 'hi', 'hello']

# Remove Elements from List

In [50]:
lis = ["apple","banana","cat","dog","cat","elephant","frog","gasoline","hike","ice-cream"]
x = lis.remove("cat")
print(lis,x)

['apple', 'banana', 'dog', 'cat', 'elephant', 'frog', 'gasoline', 'hike', 'ice-cream'] None

In [53]:
x = lis.pop(-1)
print(lis,x)

['banana', 'dog', 'cat', 'elephant', 'frog', 'gasoline'] hike

In [54]:
del lis[0]
print(lis)

['dog', 'cat', 'elephant', 'frog', 'gasoline']

# Implement Stack Using List

In [64]:
x = []
def spush(element,lis):
    lis.append(element)
    return lis
def spop(lis):
    lis.pop()
    return lis
spush(1,x)
spush(2,x)
spush(3,x)
print("pushed in stack ",x)
spop(x)
print("Popped from stack",x)

pushed in stack  [1, 2, 3]
Popped from stack [1, 2]

# Singly Linked List to add elements

In [84]:
x = []
def lladdend(lis,element):
    lis.append(element)
    return lis
def lladdstart(lis,element):
    lis.insert(0,element)
    return lis
def lladdafterelemnt(lis,element,afterelement):
    index = 0
    for i in range(len(lis)):
        if(lis[i]==afterelement):
            index = i + 1
            break
    lis.insert(index,element)
    return lis
lladdend(x,1)
lladdend(x,2)
lladdend(x,3)
print(x)
lladdstart(x,0)
print(x)
lladdafterelemnt(x,4,2)
print(x)
lladdafterelemnt(x,5,4)
print(x)
lladdafterelemnt(x,6,4)
print(x)

[1, 2, 3]
[0, 1, 2, 3]
[0, 1, 2, 4, 3]
[0, 1, 2, 4, 5, 3]
[0, 1, 2, 4, 6, 5, 3]

# Reverse a List using For Loop

In [92]:
lis = ["apple","banana","cat","dog","cat","elephant","frog","gasoline","hike","ice-cream"]
li = []
for i in range(len(lis)-1,-1,-1):
    li.append(lis[i])
print(li)

['ice-cream', 'hike', 'gasoline', 'frog', 'elephant', 'cat', 'dog', 'cat', 'banana', 'apple']

In [93]:
print(lis[::-1])

['ice-cream', 'hike', 'gasoline', 'frog', 'elephant', 'cat', 'dog', 'cat', 'banana', 'apple']

# Add at the Start

In [71]:
lis = ["Arpit","Bharat","Poonam","Pranav","Pavitharan","Tirth"]
lis.insert(0,"Soorya")
print(lis)
lis.insert(0,"Sukant")
print(lis)

['Soorya', 'Arpit', 'Bharat', 'Poonam', 'Pranav', 'Pavitharan', 'Tirth']
['Sukant', 'Soorya', 'Arpit', 'Bharat', 'Poonam', 'Pranav', 'Pavitharan', 'Tirth']

# Check for a Given Element in a List

In [79]:
k = "Poonam"
for i in range(len(lis)):
    if k==lis[i]:
        print(k,i)
        break

Poonam 4

a     g     m     s
b   f h   l n   r t
c e   i k   o q   u
d     j     p

a       i       q       y
b     h j     p r     x z
c   g   k   o   s   w
d f     l n     t v
e       m       u

In [18]:
step = 2 * (3 - 1)
for i in range(0,10,step):
    print(i)

0
4
8

In [19]:
len("PAYPALISHIRING")

14

In [21]:
s = "PAYPALISHIRING"
for i in range(0,len(s),6):
    print(s[i])

P
I
N