In [1]:
string = "Hello world"

print(string)

Hello world

In [3]:
str = 'hello'
str

'hello'

In [4]:
x = 'Sukanth'
n = '7'
x+n

TypeError: can only concatenate str (not "int") to str

['h', 'e', 'l', 'l', 'e']

In [4]:
s = "mindful"
s.split('n')

['mi', 'dful']

**
**
****
****
******
******

In [9]:
n = 3

for i in range(1, n+1): #no.of 
    for j in range(2):
        for k in range(i*2):
            print("*", end='')
        print()

**
**
****
****
******
******

In [10]:
for i in range(0, 11):
    print(f"2*{i}=",2*i)

2*0= 0
2*1= 2
2*2= 4
2*3= 6
2*4= 8
2*5= 10
2*6= 12
2*7= 14
2*8= 16
2*9= 18
2*10= 20